{% extends "layout.html" %}
{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main1.css') }}">

    {% if title %}
        <title>College Admission System - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
        <div class="student_table">
            <table>
                <tr>
                    <th> Student ID </th>
                    <th> College ID </th>
                    <th> Branch Name </th>
                    <th> Status </th>
                </tr>
                {% for st in students %}
                <tr>
                    <td> {{ st['uname'] }}</td>
                    <td> {{ st['cid'] }}</td>
                    <td> {{ st['bname'] }}</td>
                    <td> {{ st['astatus'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock content %}